@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #fafafa;
  font-family: "Lato", serif;
}

::-webkit-scrollbar {
  @apply w-2 h-2 bg-transparent
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-100 border-2 border-transparent rounded-full min-h-12 min-w-12;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
